
.navBar__color{
    color:$white;
    background-color:$bg-color;
}
.navBar__font--color{
    color:$white;
}
.navBar__justify-content--se{
    justify-content:space-evenly;
}
.navBar__justify-content--center{
    justify-content: center;
}
